{% extends 'base2.html' %}
{% block content %}
<div class="wrapper" style="padding-top: 120px;">
    <div class="container-fluid" style="width: 95%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto;">
        <div class="row" style="display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px;">
            <div class="col-sm-12">
                <div class="page-title-box" style="padding: 22px 0;">
                    <h4 class="page-title">룰 기반의 스마트 팩토리 상황 정보</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card mini-stat m-b-30" style="margin-bottom: 30px; box-shadow: 1px 0 20px rgb(0 0 0 / 5%); border: none; overflow: hidden;">
                    <div class="p-3 bg-primary text-white" style="background-color: #fd6e77!important;">
                        <a href="{% url 'rfid:rule1' %}" style="color:white; font-size:15pt; font-weight:bold;">Case1</a>
                    </div>
                    <div class="card-body">
                        <div class="border-bottom pb-4">
                            <h5 class="m-0">
                                1623
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16" style="color: #28a745!important;">
                                  <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                                </svg>
                                <span class="badge badge-success">+15%</span>
                                <span class="ml-2 text-dark">물류 이동 증감률</span>
                            </h5>

                        </div>
                        <div class="mt-4 text-muted" style="color: #0a1832!important;">
                            <h5 class="m-0">자재 창고 출고 -> 생산 라인1 입고</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card mini-stat m-b-30" style="margin-bottom: 30px; box-shadow: 1px 0 20px rgb(0 0 0 / 5%); border: none; overflow: hidden;">
                    <div class="p-3 bg-primary text-white" style="background-color: #fd6e77!important;">
                        <a href="{% url 'rfid:rule2' %}" style="color:white; font-size:15pt; font-weight:bold;">Case2</a>
                    </div>
                    <div class="card-body">
                        <div class="border-bottom pb-4">
                            <h5 class="m-0">
                                567
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16" style="color: #28a745!important;">
                                  <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                                </svg>
                                <span class="badge badge-success">+32%</span>
                                <span class="ml-2 text-dark">물류 이동 증감률</span>
                            </h5>
                        </div>
                        <div class="mt-4 text-muted" style="color: #0a1832!important;">
                            <h5 class="m-0">자재 창고 출고 -> 생산 라인2 입고</h5>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-xl-3 col-md-6">
                <div class="card mini-stat m-b-30" style="margin-bottom: 30px; box-shadow: 1px 0 20px rgb(0 0 0 / 5%); border: none; overflow: hidden;">
                    <div class="p-3 bg-primary text-white" style="background-color: #fd6e77!important;">
                        <a href="{% url 'rfid:rule3' %}" style="color:white; font-size:15pt; font-weight:bold;">Case3</a>
                    </div>
                    <div class="card-body">
                        <div class="border-bottom pb-4">
                            <h5 class="m-0">
                                27.3
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16" style="color: #508aeb;">
                                  <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                                </svg>
                                <span class="badge badge-danger" style="background-color: #508aeb;">-4%</span>
                                <span class="ml-2 text-dark">물류 이동 증감률</span>
                            </h5>
                        </div>
                        <div class="mt-4 text-muted" style="color: #0a1832!important;">
                            <h5 class="m-0">자재 창고 출고 -> 외부 출고</h5>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-xl-3 col-md-6">
                <div class="card mini-stat m-b-30" style="margin-bottom: 30px; box-shadow: 1px 0 20px rgb(0 0 0 / 5%); border: none; overflow: hidden;">
                    <div class="p-3 bg-primary text-white" style="background-color: #fd6e77!important;">
                        <a href="{% url 'rfid:rule4' %}" style="color:white; font-size:15pt; font-weight:bold;">Case4</a>
                    </div>
                    <div class="card-body">
                         <div class="border-bottom pb-4">
                            <h5 class="m-0">
                                67
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16" style="color: #28a745!important;">
                                  <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                                </svg>
                                <span class="badge badge-success">+8%</span>
                                <span class="ml-2 text-dark">물류 이동 증감률</span>
                            </h5>
                        </div>
                        <div class="mt-4 text-muted" style="color: #0a1832!important;">
                            <h5 class="m-0">자재 창고 입고</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box" style="padding: 22px 0;">
                    <h4 class="page-title">스마트 팩토리 정보 시각화 그래프</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8">
                <div class="card m-b-30" style="background-color: #fff; margin-bottom: 30px; box-shadow: 1px 0 20px rgb(0 0 0 / 5%); border: none;">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">정보 시각화 그래프1</h4>
                         <div class="col-md-6" style="margin-top: 20px;">
                             <div class="chart-container" style="position: relative; height:28vh; width:58vw;">
                                        <canvas id="chart1"></canvas>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card-m-b30" style="background-color: #fff; margin-bottom: 30px; box-shadow: 1px 0 20px rgb(0 0 0 / 5%); border: none;">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">정보 시각화 그래프2</h4>
                        <div style="margin-top: 20px;">
                            <canvas id="chart2"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4">
                <div class="card-m-b30" style="background-color: #fff; margin-bottom: 30px; box-shadow: 1px 0 20px rgb(0 0 0 / 5%); border: none;">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">정보 시각화 그래프3</h4>
                        <div style="margin-top: 20px;">
                            <canvas id="chart3"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card-m-b30" style="background-color: #fff; margin-bottom: 30px; box-shadow: 1px 0 20px rgb(0 0 0 / 5%); border: none;">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">정보 시각화 그래프4</h4>
                        <div style="margin-top: 20px;">
                            <canvas id="chart4"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card-m-b30" style="background-color: #fff; margin-bottom: 30px; box-shadow: 1px 0 20px rgb(0 0 0 / 5%); border: none;">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">정보 시각화 그래프5</h4>
                        <div style="margin-top: 20px;">
                            <canvas id="chart5"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
var ctx1 = document.getElementById('chart1').getContext('2d')
var ctx2 = document.getElementById('chart2').getContext('2d')
var ctx3 = document.getElementById('chart3').getContext('2d')
var ctx4 = document.getElementById('chart4').getContext('2d')
var ctx5 = document.getElementById('chart5').getContext('2d')

var chart1 = new Chart(ctx1, {
    type: 'line',
    data: {
                labels: ['1일', '5일', '10일', '15일', '20일', '25일', '31일'],
                datasets: [{
                label: '제품 A',
                data: [32, 154, 260, 128, 86, 98, 42],
                fill: false,
                backgroundColor:'rgb(255, 99, 132)',
                borderColor:'rgb(255, 99, 132)',
                tension: 0.1
                  },
                  {
                label: '제품 B',
                data: [86, 117, 65, 31, 289, 203, 153],
                fill: false,
                backgroundColor:'rgb(54, 162, 235)',
                borderColor:'rgb(54, 162, 235)',
                tension: 0.1
                  }
                  ]
            },
    options: {
                responsive: true,
                maintainAspectRatio: false,
                  legend: {
                    position: 'top',
                  },
                  title: {
                    display: true,
                    text: '일별 제품 출고량',
                    fontSize: 20
                  }
              },
});

var chart2 = new Chart(ctx2, {
    type: 'bar',
    data: {
                labels: ['1월', '2월', '3월', '4월', '5월', '6월', '7월'],
                datasets: [{
                label: '제품 A',
                data: [32, 154, 260, 128, 86, 98, 42],
                fill: false,
                backgroundColor:'rgb(255, 99, 132)',
                tension: 0.1
                  },
                  {
                label: '제품 B',
                data: [86, 117, 65, 31, 289, 203, 153],
                fill: false,
                backgroundColor:'rgb(54, 162, 235)',
                tension: 0.1
                  }
                  ]
            },
             options: {
    responsive: true,
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: '월별 제품 생산량',
        fontSize: 20
      }
  },
});

var chart3 = new Chart(ctx3, {
    type: 'radar',
    data: {
                labels: ['창고 A', '창고 B', '창고 C', '창고 D', '창고 E', '창고 F', '창고 G'],
                datasets: [{
                label: '제품 A',
                data: [32, 154, 260, 128, 86, 98, 42],
                fill: true,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgb(255, 99, 132)',
                pointBackgroundColor: 'rgb(255, 99, 132)',
                pointBorderColor: '#fff',
                pointHoverBackgroundColor: '#fff',
                pointHoverBorderColor: 'rgb(255, 99, 132)'
                  },
                  {
                label: '제품 B',
                data: [86, 117, 65, 31, 289, 203, 153],
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgb(54, 162, 235)',
                pointBackgroundColor: 'rgb(54, 162, 235)',
                pointBorderColor: '#fff',
                pointHoverBackgroundColor: '#fff',
                pointHoverBorderColor: 'rgb(54, 162, 235)'
                  }
                  ]
            },
             options: {
    responsive: true,
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: '창고별 제품 출고량',
        fontSize: 20
      }
  },
});

var chart4 = new Chart(ctx4, {
    type: 'pie',
    data: {
                labels: ['제품A', '제품B', '제품C', '제품D', '제품E', '제품F', '기타'],
                datasets: [{
                label: 'Dataset 1',
                data: [28, 5, 16, 11, 18, 14, 8],
                backgroundColor: [
                      'rgb(255, 99, 132)',
                      'rgb(54, 162, 235)',
                      'rgb(255, 205, 86)',
                      'rgb(252, 147, 11)',
                      'rgb(58, 263, 114)',
                      'rgb(163, 58, 243)',
                      'rgb(58, 243, 225)'
                    ]
                  },
                  ]
            },
             options: {
    responsive: true,
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: '제품별 재고 비율',
        fontSize: 20
      }
  },
});

var chart5 = new Chart(ctx5, {
    type: 'bubble',
    data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [{
                label: '제품 A',
                data: [{x:1,y:42,r:10},
                {x:3,y:89,r:25},
                {x:5,y:45,r:20},
                {x:8,y:37,r:25},
                {x:10,y:97,r:15},
                {x:11, y:72,r:10},
                {x:12,y:24,r:15}
                ],
                backgroundColor:'rgb(255, 99, 132)'
                  },
                  {
                label: '제품 B',
                data: [{x:2,y:68,r:15},
                {x:4,y:74,r:15},
                {x:6,y:27,r:10},
                {x:7,y:64,r:20},
                {x:9,y:38,r:15},
                {x:10,y:81,r:20},
                {x:12,y:57,r:10}
                ],
                backgroundColor:'rgb(54, 162, 235)'
                  }
                  ]
            },
             options: {
    responsive: true,
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: '연간 제품 생산량 및 재고량',
        fontSize: 20
      },
      scales: {
        yAxes: [{
            scaleLabel: {
                display: true,
                labelString: "제품 생산량(단위:10개)",
                fontColor: "gray",
                fontSize: 15
            }
        }],
        xAxes: [{
            scaleLabel: {
                display: true,
                labelString: "시기(단위: 월)",
                fontColor: "gray",
                fontSize: 15
            }
        }]
      }
  },
});

</script>
{% endblock %}