{% extends 'base.html' %}
{% block content %}
<div style="background-image: url('https://res.cloudinary.com/dgb2e2npb/image/upload/v1616501051/BG05_gyg80l.jpg');
      height: 100vh; background-position: center; background-repeat: no-repeat; background-size: cover;">
<div style="position:relative; top:25%;">
<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card">
      <img src="https://res.cloudinary.com/dgb2e2npb/image/upload/v1616503077/01_Outsourcing_s21e2j.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">case1</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://res.cloudinary.com/dgb2e2npb/image/upload/v1616503078/02_Production_k1esxq.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">case2</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://res.cloudinary.com/dgb2e2npb/image/upload/v1616503078/03_Logistics_yhnuwd.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">case3</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://res.cloudinary.com/dgb2e2npb/image/upload/v1616503323/04_AS_htbtic.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">case4</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}