{% extends 'base6.html' %}
{% block content %}
<div class="wrapper" style="padding-top: 120px;">
    <div class="container-fluid" style="width: 95%">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box" style="padding : 22px 0;">
                    <h4 class="page-title">룰 기반의 스마트 팩토리 상황 정보</h4>
                </div>
        </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card m-b-30" style="border:none;">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">Case2 : 자재 창고 출고 -> 생산 라인2 입고</h4>
                        <div class="media m-b-30">
                            <img class="img-fluid" src="https://res.cloudinary.com/dgb2e2npb/image/upload/v1631169763/Case2_qw4zck.jpg"
                               alt="Responsive image" style="width:1000px; margin-top:20px; margin-right:30px; border-width:3px;">
                            <div class="media-body">
                                <p style="margin-top: 80px; font-size:25px;">
                                    ⦁ RFID 게이트를 통과하는 물류 인식 ▸ RFID ID, 수량, 제품 정보 파악
                                </p>
                                <p style="margin-top: 60px; font-size:25px;">
                                    ⦁ 객체 이동 방향성 판단 알고리즘으로 물류의 최종 이동 방향 판단 ▸ 자재 창고 출고 -> 생산 라인1 입고 방향 : "West"
                                </p>
                                <p style="margin-top: 60px; font-size:25px;">
                                    ⦁ 물류 이동 방향 "West" 판단 ▸ 자재 창고 출고 & 생산 라인1 입고 데이터베이스 업데이트
                                </p>
                                <p style="margin-top: 60px; font-size:25px;">
                                    ⦁ 물류 이동 모니터링 및 흐름 정보 파악
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}